* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: "Akaya Kanadaka", cursive;
}

.bottom {
  /* display: flex; */
  display: none;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
}

#canvas {
  background-image: url("/assets/night.png");
}

.home-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("/assets/HomeBackground.gif") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* display: none; */
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 650px;
  background-color: rgba(255, 255, 255, 0.466);
  position: relative;
}

.ball {
  position: absolute;
  top: 62.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: linear-gradient(rgb(255, 115, 115), rgb(84, 84, 247));
  border-radius: 50%;
  animation: ball1 4s infinite ease-in-out;
  /* animation-delay: 1s; */
}

@keyframes ball1 {
  0% {
    top: 45%;
    left: 55%;
  }
  25% {
    top: 62.7%;
    left: 50%;
  }
  50% {
    top: 45%;
    left: 44%;
  }
  75% {
    top: 62.7%;
    left: 50%;
  }
  100% {
    top: 45%;
    left: 55%;
  }
}

.board img {
  margin-top: 3rem;
}

.board input {
  position: absolute;
  top: 73.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45px;
  width: 350px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 2px solid white;
  background: linear-gradient(rgb(255, 115, 115), rgb(84, 84, 247));
  outline: none;
  padding-left: 20px;
  font-size: 25px;
  margin-top: -4.2vh;
  animation: paddle 4s infinite;
}

@keyframes paddle {
  0% {
    top: 73.3%;
    left: 55%;
  }
  /* 25%  { top: 62.7%; left: 50%;   } */
  50% {
    top: 73.3%;
    left: 45%;
  }
  /* 75% { top: 62.7%;   left: 50%;   }      */
  100% {
    top: 73.3%;
    left: 55%;
  }
}

.container {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 3vh;
  background-color: rgb(252, 115, 105);
  border-radius: 50%;
  /* transition: 1s; */
  transition-delay: 0.4s;
}

.circle {
  stroke: #000000;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  transition: all 0.5s ease;
}

.playBut .triangle {
  transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: rgb(255, 255, 255);
  transform: translateY(0);
}

.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #000000;
  animation: nudge 0.7s ease-in-out;
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 8px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.levels .playable:hover {
  transform: scale(1.1);
}
